{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Welcome to THE REALTORS</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="url" id="" class="form-control" placeholder="Enter url to crawl...">
            <button type="submit">crawl</button>
        </form>
        {% for prop in my_properties %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">{{prop}}</h5>
                    <p class="card-text">{{prop.location}}</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

